@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sharma Niwas<br />
    Kamla Nagar<br />
    <abbr title="Phone">P:</abbr>
    7678181503
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sronak922@gmail.com">sronak922@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sronak922@gmail.com">sronak922@gmail.com</a>
</address>