@model Test_2.Models.Datum

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Name: @Model.name</h1>
<p>Gender: @Model.gender</p>
<p>Count: @Model.count</p>
<p>Probability: @Model.probability</p>